/* soundcard.css */
.soundcard-section {
    padding: 2rem 4rem;
    text-align: center;
    /* margin-top: 245px; */
}

.soundcard-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 3rem;
    max-width: 600px;
    margin: auto;
}

/* Responsive: 3 sound trên mỗi hàng khi màn hình nhỏ hơn 600px */
@media screen and (max-width: 600px) {
    .soundcard-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .soundcard-section {
        padding: 0 2rem;
        margin-top: 0px;
    }
}




.sound-card .sound-icon {
    cursor: pointer;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    transition: transform 0.2s, filter 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.sound-card .sound-icon {
    width: 48px;
    height: 48px;
    transition: filter 0.2s, transform 0.2s;
    filter: brightness(0) invert(1);
    opacity: 0.7;
}

.sound-card .sound-icon:hover {
    opacity: 1;
}

/* Khi đang bật: sáng và hơi to nhẹ */
.sound-card.active {
    /* filter: brightness(1.5); */
    filter: brightness(0) invert(1);
    opacity: 1;
    transform: scale(1.1);
}

/* Volume slider */
.volume-slider {
    width: 80%;
    /* margin-top: 12px; */
    height: 3px;
    appearance: none;
    background: white;
    border-radius: 999px;
    cursor: pointer;
}

.volume-wrapper {
    height: 24px;
    /* Chiều cao cố định cho tất cả sound-icon */
    /* margin-top: 8px; */
}

/* Track */
.volume-slider::-webkit-slider-runnable-track {
    height: 2px;
    background: white;
    border-radius: 999px;
}

.volume-slider::-moz-range-track {
    height: 2px;
    background: white;
    border-radius: 999px;
}

/* Thumb (nút trượt) */
.volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    margin-top: -4px;
}

.volume-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    border: none;
}